asgiref==3.8.1
Django==5.2
django-unfold==0.55.2
psycopg2-binary==2.9.10
sqlparse==0.5.3
djangorestframework~=3.16.0
djangorestframework-simplejwt
drf-spectacular~=0.28.0
django-redis==5.4.0
redis==5.0.1
celery[redis]
django-celery-results